body {
  margin: 30px 10px;
}

a {
  text-decoration: none;
}

a.active {
  cursor: default;
  color: #000;
  font-weight: 600;
}

ul {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
}

li {
  list-style: none;
}
button.location {
  min-width: 60%;
}

.container {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 650px;
  padding: 20px;
}

.current-day {
  background: #f0f1f2;
  border-radius: 5px;
  padding: 20px 10px;
}

.current-temp {
  font-size: 40px;
  font-weight: 700;
}

.time {
  opacity: 0.6;
}

.description {
  font-size: 20px;
  text-transform: capitalize;
}

.units {
  font-size: 20px;
  position: relative;
  top: -12px;
}

.forecast-img {
  width: 100%;
}

.forecast-container,
.card-header,
.card-footer {
  border: none;
}
.forecast-container {
  transition: all 200ms ease-in-out;
}

.forecast-container:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.forecast-temp {
  font-size: 13px;
}

.forecast-temp-max {
  margin-right: 5px;
}

footer {
  text-align: center;
}
